

.banner-brasil-gospel {
    position: relative;
    min-width: 100%;
    height: 40rem;
    max-height: auto;
    margin: 0 auto;
    background: #111;
    object-fit: fill;
}

.container-gospel-brasil {
    height: 70rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

.artigo-gospel-brasil {
    display: flex;
    flex-direction: row;
    margin-bottom: 10rem;
    border-radius: 5rem 0 5rem 0;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.45);
    background-color: #fff;
}

.img-noticia-card {
    width: 20rem;
    height: 15rem;
    border-radius: 5rem 0 12rem 0;
}

.texto-artigo-brasil {
    width: 45rem;
    height: 13rem;
    margin-left: 1rem;
}

.container-banner-brasil {
    position: relative;
    width: 100%;
    height: 40rem;
    max-height: auto;
    margin: 0 auto;
    overflow: hidden;
    background: #111;
}

@media (max-width: 600px) {

    .container-gospel-brasil {
        height: auto;
    }


    .artigo-gospel-brasil {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 40rem;
    }

    .texto-artigo-brasil {
        width: 90%;
        height: 25rem;
        margin-left: 1rem;
    }

}
